<h2>Editar Gerente</h2>

<form method="post">
  <input type="text" name="nome" value="{{gerente.nome}}" required>
  <input type="text" name="setor" value="{{gerente.setor}}" required>
  <button type="submit">Atualizar</button>
</form>
