<h2>Novo Gerente</h2>

<form method="post">
  <input type="text" name="nome" placeholder="Nome" required>
  <input type="text" name="setor" placeholder="Setor" required>
  <button type="submit">Salvar</button>
</form>
