<h2>Editar Funcionário</h2>

<form method="post">
  <input type="text" name="nome" value="{{funcionario.nome}}" required>
  <input type="text" name="cargo" value="{{funcionario.cargo}}" required>
  <button type="submit">Atualizar</button>
</form>
