<h2>Editar Cliente</h2>

<form method="post">
  <input type="text" name="nome" value="{{cliente.nome}}" required>
  <input type="text" name="cpf" value="{{cliente.cpf}}" required>
  <button type="submit">Atualizar</button>
</form>
