<h2>Novo Cliente</h2>

<form method="post">
  <input type="text" name="nome" placeholder="Nome" required>
  <input type="text" name="cpf" placeholder="CPF" required>
  <button type="submit">Salvar</button>
</form>
