<h2>Editar Fundador</h2>

<form method="post">
  <input type="text" name="nome" value="{{fundador.nome}}" required>
  <input type="number" name="participacao" step="0.01" value="{{fundador.participacao}}">
  <input type="date" name="data_fundacao" value="{{fundador.data_fundacao}}">
  <button type="submit">Atualizar</button>
</form>
