<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Hotel Manager</title>
</head>
<body>
  <nav>
    <a href="/">Home</a> 
    <a href="/reservas">Reservas</a> 
    <a href="/produtos">Produtos</a> 
    <a href="/estacionamento">Estacionamento</a> 
    <a href="/funcionarios">Funcionários</a> 
    <a href="/clientes">Clientes</a> 
    <a href="/gerentes">Gerentes</a> 
    <a href="/relatorios">Relatórios</a>
    <a href="/fundadores">Fundadores</a> |

  </nav>
  <hr>

  {{{body}}}
</body>
</html>
