<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova Reserva</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Nova Reserva</h1>

  <form action="/reservas/novo" method="POST">
    <label for="cliente_id">Cliente:</label>
    <select name="cliente_id" id="cliente_id" required>
      {{#each clientes}}
        <option value="{{this.id}}">{{this.nome}}</option>
      {{/each}}
    </select>

    <label for="quarto">Quarto:</label>
    <input type="text" name="quarto" id="quarto" required>

    <label for="dias">Dias:</label>
    <input type="number" name="dias" id="dias" required>

    <label for="tipo">Tipo:</label>
    <select name="tipo" id="tipo" required>
      <option value="Simples">Simples</option>
      <option value="Duplo">Duplo</option>
      <option value="Luxo">Luxo</option>
    </select>

    <button type="submit" class="btn btn-new">Cadastrar</button>
  </form>
  <a href="/reservas"><button class="btn btn-back">Voltar</button></a>
</body>
</html>
