<h2>Editar Estacionamento</h2>

<form method="post">
  <input type="text" name="placa" value="{{estacionamento.placa}}" required>
  <input type="text" name="vaga" value="{{estacionamento.vaga}}" required>
  <button type="submit">Atualizar</button>
</form>
