<h2>Novo Estacionamento</h2>

<form method="post">
  <input type="text" name="placa" placeholder="Placa" required>
  <input type="text" name="vaga" placeholder="Vaga" required>
  <button type="submit">Salvar</button>
</form>
